# Run before

In [27]:
library(tidyverse)
library(repr)
library(tidymodels)

# Download files

In [34]:
sat_scores = read_csv("https://raw.githubusercontent.com/emi31770/proposal/main/datesets/sat_scores.csv")
zip_income = read_csv("https://raw.githubusercontent.com/emi31770/proposal/main/datesets/zipcodes_income.csv")
write_csv(sat_scores, "sat.csv")
write_csv(zip_income, "zip.csv")

Parsed with column specification:
cols(
  .default = col_character(),
  `Zip Code` = col_double(),
  Latitude = col_double(),
  Longitude = col_double(),
  `Start Time` = col_time(format = ""),
  `End Time` = col_time(format = ""),
  `Student Enrollment` = col_double(),
  `Average Score (SAT Math)` = col_double(),
  `Average Score (SAT Reading)` = col_double(),
  `Average Score (SAT Writing)` = col_double()
)

See spec(...) for full column specifications.

Parsed with column specification:
cols(
  state = col_character(),
  zipcode = col_double(),
  total_pop = col_double(),
  total_income = col_double(),
  country = col_character(),
  avg_income = col_double()
)

In [35]:
head(zip_income, 5)

  state zipcode total_pop total_income country avg_income
1 AK        0   345220    25354974     USA     73445.84
2 AK    99501     7690      612242     USA     79615.34
3 AK    99502    11860     1000685     USA     84374.79
4 AK    99503     7510      462394     USA     61570.44
5 AK    99504    19440     1176109     USA     60499.43