In [2]:
library(tidyverse)
library(repr)
library(tidymodels)
source('tests.R')
source('cleanup.R')

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Warning message:
“package ‘tidymodels’ was built under R version 4.0.2”
── Attaching packages ────────────────────────────────────── tidymodels 0.1.1 ──

✔ broom     0.7.0      ✔ recipes   0.1.13
✔ dials     0.0.9      ✔ rsample   0.0.7
✔ infer     0.5.4      ✔ tune      0.1.1
✔ modeldata 0.0.2      ✔ workflows 0.2.0
✔ parsnip   0.1.3      ✔ yardstick 0.0.7

Warning message:
“package ‘broom’ was built under R version 4.0.2”
Warning message:
“package ‘dials’ was built under R version 4.0.2”
Warning message:
“package ‘infer’ was built under R version 4.0.3”
Warning message:
“package ‘modeldata’ was built under R version 4.0.1”
Warning message:
“package ‘parsnip’ was built under R version 4.0.2”
Warning message:
“package ‘recipes’ was built under R version 4.0.1”
Warning message:
“package ‘tune’ was built under R version 4.0.2”
Warning message:
“package ‘workflows’ was built under R version 4.0.2”
Warning message:
“package ‘yardstick’ was built under R version 4.0.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [4]:
sat_scores = read_csv("scores.csv")
postcode_averages = read_csv("postcode_level_averages.csv")
head(sat_scores, 5)
head(postcode_averages, 5)

Parsed with column specification:
cols(
  .default = col_character(),
  `Zip Code` = col_double(),
  Latitude = col_double(),
  Longitude = col_double(),
  `Start Time` = col_time(format = ""),
  `End Time` = col_time(format = ""),
  `Student Enrollment` = col_double(),
  `Average Score (SAT Math)` = col_double(),
  `Average Score (SAT Reading)` = col_double(),
  `Average Score (SAT Writing)` = col_double()
)

See spec(...) for full column specifications.

Parsed with column specification:
cols(
  state = col_character(),
  zipcode = col_double(),
  total_pop = col_double(),
  total_income = col_double(),
  country = col_character(),
  avg_income = col_double()
)

  School ID School Name
1 02M260    Clinton School Writers and Artists
2 06M211    Inwood Early College for Health and Information Technologies
3 01M539    New Explorations into Science, Technology and Math High School
4 02M294    Essex Street Academy
5 02M308    Lower Manhattan Arts Academy
  Borough   Building Code Street Address       City      State Zip Code
1 Manhattan M933          425 West 33rd Street Manhattan NY    10001
2 Manhattan M052          650 Academy Street   Manhattan NY    10002
3 Manhattan M022          111 Columbia Street  Manhattan NY    10002
4 Manhattan M445          350 Grand Street     Manhattan NY    10002
5 Manhattan M445          350 Grand Street     Manhattan NY    10002
  Latitude Longitude ⋯ End Time Student Enrollment Percent White Percent Black
1 40.75321 -73.99786 ⋯       NA   NA               NA            NA
2 40.86605 -73.92486 ⋯ 15:00:00   87               3.4%          21.8%
3 40.71873 -73.97943 ⋯ 16:00:00 1735               28.6%         13.3%
4 40.71687 -73.98953 ⋯ 14:45:00  358               11.7%         38.5%
5 40.71687 -73.98953 ⋯ 15:00:00  383               3.1%          28.2%
  Percent Hispanic Percent Asian Average Score (SAT Math)
1 NA               NA             NA
2 67.8%            4.6%           NA
3 18.0%            38.5%         657
4 41.3%            5.9%          395
5 56.9%            8.6%          418
  Average Score (SAT Reading) Average Score (SAT Writing) Percent Tested
1  NA                          NA                         NA
2  NA                          NA                         NA
3 601                         601                         91.0%
4 411                         387                         78.9%
5 428                         415                         65.1%

  state zipcode total_pop total_income country avg_income
1 AK        0   345220    25354974     USA     73445.84
2 AK    99501     7690      612242     USA     79615.34
3 AK    99502    11860     1000685     USA     84374.79
4 AK    99503     7510      462394     USA     61570.44
5 AK    99504    19440     1176109     USA     60499.43